.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(126, 124, 131);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(174, 52, 211);
}